<h1>Members only</h1>
<% if logged_in? %>
    <h1>Welcome <%= current_user.name %></h1>
    <%= link_to "Logout", logout_path, method: :delete %>
    <%= link_to "Make new post", new_post_path %>
<% else %>
    <%= link_to "Log in", login_path %>
<% end %>